* {
    box-sizing: border-box;

}

header {
    height: 100%;
}

.header-image {
    height: 100%;
    width: 100%;
}

.container {
    font-family: 'Lato', sans-serif;
    width: 80%;
    margin-left: 10%;
}