* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 100%;
}

.header-image {
    height: 100%;
    width: 100%;
}

.container {
    font-family: 'Lato', sans-serif;
}